Diabetes-mellitus-prediction-using-IBM-Auto-AI-service.json
[{"id":"80beb809.7ecf98","type":"tab","label":"Diabetes Prediction","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"80beb809.7ecf98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Timestamp","payloadType":"str","x":121,"y":61,"wires":[["296b8be3.2c7434"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"80beb809.7ecf98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":300,"wires":[]},{"id":"db722079.8bf0a","type":"http request","z":"80beb809.7ecf98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":220,"wires":[["5cc10d24.9fde94","4886b049.addea"]]},{"id":"5cc10d24.9fde94","type":"function","z":"80beb809.7ecf98","name":" Pre Prediction","func":"var preg = global.get(\"preg\")\nvar plas = global.get(\"plas\")\nvar pres = global.get(\"pres\")\nvar Skin = global.get(\"Skin\")\nvar test = global.get(\"test\")\nvar mass = global.get(\"mass\")\nvar pedi = global.get(\"pedi\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"No of times Pregnant\", \"Plasma Glucose\", \"Blood Pressure\", \"Skin Thickness\",\"Test\",\"Body  Mass Index\",\"Diabetes Pedigree\",\"Age\"]],\"values\": [[preg,plas,pres,Skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["15bed25a.fe6b3e"]]},{"id":"b8d2d0cb.7a088","type":"function","z":"80beb809.7ecf98","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":100,"wires":[["337c8c1c.bfca64","b0c27970.264828"]]},{"id":"4886b049.addea","type":"debug","z":"80beb809.7ecf98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":320,"wires":[]},{"id":"e0ebeef8.a3fd3","type":"debug","z":"80beb809.7ecf98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"337c8c1c.bfca64","type":"debug","z":"80beb809.7ecf98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":60,"wires":[]},{"id":"15bed25a.fe6b3e","type":"http request","z":"80beb809.7ecf98","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/62db3fa1-e4a6-4c40-ac91-598a1b35015a/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":220,"wires":[["b8d2d0cb.7a088","e0ebeef8.a3fd3"]]},{"id":"4f102e31.1402d","type":"ui_form","z":"80beb809.7ecf98","name":"","label":"","group":"66322036.e07c4","order":0,"width":0,"height":0,"options":[{"label":"No of times Pregnant","value":"preg","type":"number","required":true,"rows":null},{"label":"Plasma Glucose","value":"plas","type":"number","required":true,"rows":null},{"label":"Blood Pressure","value":"pres","type":"number","required":true,"rows":null},{"label":"Skin Thickness","value":"Skin","type":"number","required":true,"rows":null},{"label":"Test","value":"test","type":"number","required":true,"rows":null},{"label":"Body Mass Index","value":"mass","type":"number","required":true,"rows":null},{"label":"Diabetes Pedigree Function","value":"pedi","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","Skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["f2f2649a.0d0d98","296b8be3.2c7434"]]},{"id":"b0c27970.264828","type":"ui_text","z":"80beb809.7ecf98","group":"fe5a2480.69ea78","order":1,"width":0,"height":0,"name":"Prediction","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":400,"wires":[]},{"id":"296b8be3.2c7434","type":"function","z":"80beb809.7ecf98","name":"Pretoken","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"ms\",msg.payload.pres)\nglobal.set(\"st\",msg.payload.Skin)\nglobal.set(\"rd\",msg.payload.test)\nglobal.set(\"ad\",msg.payload.mass)\nglobal.set(\"ms\",msg.payload.pedi)\nglobal.set(\"st\",msg.payload.age)\nvar apikey=\"PWPO-rVRI7XFlLHlz5kLqDmTDnq4zVZJ83p52r4p3pU1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":160,"wires":[["db722079.8bf0a"]]},{"id":"66322036.e07c4","type":"ui_group","z":"","name":"Diabetes Prediction","tab":"6188da9b.e901b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe5a2480.69ea78","type":"ui_group","z":"","name":"Result","tab":"6188da9b.e901b4","order":2,"disp":false,"width":"6","collapse":false},{"id":"6188da9b.e901b4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]